/* .app-container {
  padding-bottom: 80px; 
} */
/* App.css or your main CSS file */
.app {
  display: flex;
  flex-direction: column;

}
.app-container {
  flex: 1;
  padding-bottom: 0px; 
}

.input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50rem;
  margin-left: 28%;
}

.input-container {
  display: flex;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-label {
  margin-bottom: 5px;
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.3em;
}

.input-label-AvaNum {
  margin-right: 10px;
  font-size: 0.8em;
}

.flight-number .input-label {
  margin-bottom: 5px;
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.3em;
  white-space: nowrap;
  
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fcfdfe;
  color: #071a3d;
  width: 200px;
}

.flight-dropdown {
  padding: 3px;
  border: 2px solid #071a3d;
  border-radius: 5px;
  background-color: #fff;
  color: #071a3d;
  width: 110px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  background-color: #071a3d;
  border-radius: 5px;
  overflow: hidden;
}

li {
  padding: 10px;
  border-bottom: 1px solid #071a3d;
  cursor: pointer;
}

.print-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #071a3d;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 24px;
}

.print-button:hover {
  background-color: #071a3de0;
  transform: scale(1.05);
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #071a3d;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #071a3de0;
  transform: scale(1.05);
}

.search-container {
  display: flex;
  align-items: center;
}

.flight-number {
  display: flex;
  align-items: center;
  margin-left: 28.5rem;
}

.search-input {
  padding: 10px;
  border: 2px solid #071a3d;
  border-radius: 5px;
  background-color: #071a3d;
  color: #fff;
  width: 200px;
}

.white-line {
  border: none;
  border-top: 2px solid #071a3d;
  margin: 20px 0;
}

.legends-container {
  margin-left: 10rem;
  border: 2px solid #071a3d ;
  background-color: white;
  color: #071a3d;
  border-radius: 5px;
  justify-content: space-between;
}

.legend {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 6px;
}

.domestic-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 10px;
}

.international-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-container {
  display: flex;
  width: 100rem;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 22px;
}

.iHover {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  /* width: 720px; */
  background-color: #071a3d;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.iHover:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.info-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 0.2rem;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.waringss {
  font-style: italic;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
  display: flex;
}

/* Media Queries */
@media (max-width: 1200px) {
  .input-search {
    width: auto;
    margin-left: 10%;
  }

  .flight-number {
    margin-left: 10rem;
  }

  .dropdown-container {
    width: auto;
  }

  .legends-container {
    margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
    align-items: center;
  }

  .input-search {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .flight-number {
    margin-left: 0;
    flex-direction: column;
  }

  .search-container {
    flex-direction: column;
  }

  .legends-container {
    margin-left: 0;
    margin-top: 7px;
    width: 12rem;
    flex-direction: column;
    align-items: center;
  }

  .dropdown-container {
    justify-content: center;
    width: 100%;
  }

  .iHover .tooltip-text {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .input-label,
  .flight-number .input-label {
    font-size: 1em;
  }

  input[type="text"],
  .search-input {
    width: 100%;
    padding: 8px;
  }

  .flight-dropdown {
    width: 100%;
  }

  .print-button,
  .search-button {
    padding: 8px 16px;
    font-size: 0.9em;
    width: 100%;
  }
  .legends-container{
    margin-top: 7px;
    width: 12rem;
  }
  .legends-container,
  .waringss {
    flex-direction: column;
    align-items: center;
  }
}
