body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7f8fa;
  color: #071a3d;
  
}

.App {
  text-align: center;
  padding: 20px;
}

form {
  margin: 20px;
  margin-bottom: 0;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: #071a3d;
  transition: background-color 0.3s ease;
}

input::placeholder {
  color: #071a3d;
}

input:focus {
  background-color: rgb(255, 255, 255);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #071a3d;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #071a3de0;
  transform: translateY(-5px);
}

h1 {
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #071a3d;
  text-shadow: 0 0 5px #3063c1e0;
}

h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #071a3d;
  text-shadow: 0 0 5px rgba(42, 108, 193, 0.7);
}

p {
  margin: 10px 0;
  font-size: 1.1em;
}

.glass-box-container {
  display: flex;
  /* flex: 3; */
  gap: 30px;
}
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(10px, auto); 
}
.glass-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 2px solid #071a3d;
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.glass-box img {
  max-width: 100%;
  height: auto;
  /* display: none; */
}

/* .glass-box:hover img,
.glass-box.active img {
  display: inline;
} */

.glass-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3), 0 0 8px 5px #0a315c;
}
.glass-box img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #071a3d;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  font-size: 1.5em;
  color: #f5f7fb;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 191, 255, 0.7);
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-links a {
  color: #f5f5f5;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-3px);
}

/* Footer CSS */
.footer {
  /* position: fixed; */
  background-color: #071a3d;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  margin: 5px 0;
}

.app-content {
  padding: 20px;
}



/* CSS for table component */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #071a3d;
  color: white;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #071a3d;
}

tbody tr:nth-child(even) {
  background-color: #f8f3f3;
}

tbody tr:nth-child(odd) {
  background-color: #f9f7f7;
}

tbody tr:hover {
  background-color: #e9e9e9;
}

table, th, td {
  border: 1px solid #fdf9f9;
}

.riskometer-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  border: 1px solid #444444;
}

.gif {
  width: 60%;
  height: 400px; 
}

/* Scroll bar CSS */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fdfcfc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #071a3d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #071a3de0;
}


/* Media Queries */
@media screen and (max-width: 768px) {
  th, td {
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  button {
    margin-top: 5px;
  }
  thead, tbody, th, td, tr {
    display: block;
  }
  
  tbody {
    width: 100%;
  }
  
  tr {
    margin-bottom: 10px;
  }
  
  th {
    text-align: center;
  }
  
  td {
    text-align: center;
    border: none;
    padding: 8px;
  }
  
  td:nth-child(even) {
    background-color: #1a1a1a;
  }
  
  td:nth-child(odd) {
    background-color: #2a2a2a;
  }
  
  /* Grid Container */
  .grid-container {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "box1 box2"
    "box3 box4 box5"
    "box6 box7 box8";
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(10px, auto);
  }
}
